## Assignment 1 


Group members : Maya Elshweikhy , Ali Baligh, Youssef Aboukhatwa

In this python notebook, we will be representing a description of the variables in the data Kershaw, and using visuals and graphs to analyze the data. 

### Kershaw Pitch Data Description 
 
This data is Pitch-by-pitch data for baseball pitcher Clayton Kershaw in the 2013 season

+ Format: A data frame with 3402 observations on the following 24 variables.

+ BatterNumber: Number of batters faced so far that game

+ Outcome: One of 14 possible results for a pitch (e.g. Ball, Ball In Dirt, Called Strike, ..., Swinging Strike (Blocked))

+ Class: One of three classifications (B=ball, S=strike, or X=in play)

+ Result: From pitcher's perspective (Neg=ball or hit, Pos=strike or out)

+ Swing: Did the batter swing at the pitch? (No or Yes)

+ Time: Date and time of the pitch (format yyyy-mm-ddThh:mm:ssZ)

+ StartSpeed: Speed leaving the pitcher's hand (in mph)

+ EndSpeed: Speed crossing home plate (in mph)

+ HDev: Horizontal movement (inches)

+ VDev: Vertical movement (inches)

+ HPos: Horizontal position at home plate (inches from center, positive is catcher's right)

+ VPos: Vertical position at home plate (inches above the ground)

+ PitchType: Code for pitch type (CH=changeup, CU=curve, FF=fastball, or SL=slider)

+ Zone: 1-9 in theoretical strike zone (upper left to lower right), 11-14 are out of strike zone

+ Nasty: A measure on a 0-100 scale of difficulty of the pitch to hit (100 is most difficult)

+ Count: Ball strike count (0-0, 0-1, 0-2, 1-1, 1-2, 2-1, 2-2, 3-1, or 3-2)

+ BallCount: Number of balls before the pitch (0, 1, 2, or 3)

+ StrikeCount: Number of strikes before the pitch (0, 1, or 2)

+ Inning: Inning of the game

+ InningSide: Portion of the inning (bottom= pitcher at home or top=pitcher away)

+ Outs: Number of outs when the pitch is thrown

+ BatterHand: Batter's stance (L=left or R=right)

+ ABEvent: Result of the at bat (several possibilities)

+ Batter: Name of the batter faced

- Details
Dataset includes information for 3,402 individual pitches thrown by Los Angeles Dodger baseball pitcher Clayton Kershaw during the 2013 regular season when he won the Cy Young award as the best pitcher in the National League. Many variables are measured using Major League Baseball's PITCHf/x system that uses camera systems in each ballpark to track characteristics of each pitch thrown.

- Source
Data scraped from the MLB GameDay website (http://gd2.mlb.com/components/game/mlb/) using pitchRx

## Part One

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Kershaw.csv')

In [3]:
df

,Unnamed: 0,BatterNumber,Outcome,Class,Result,Swing,Time,StartSpeed,EndSpeed,HDev,...,Nasty,Count,BallCount,StrikeCount,Inning,InningSide,Outs,BatterHand,ABEvent,Batter
0,1,1,Called Strike,S,Pos,No,2013-04-01T20:15:04Z,92.7,84.1,0.98,...,56,0-0,0,0,1,top,1,R,Pop Out,Angel Pagan
1,2,1,"In play, out(s)",X,Pos,Yes,2013-04-01T20:15:20Z,73.1,66.6,-3.52,...,35,0-1,0,1,1,top,1,R,Pop Out,Angel Pagan
2,3,2,Ball,B,Neg,No,2013-04-01T20:16:01Z,92.4,84.3,0.51,...,49,0-0,0,0,1,top,2,R,Pop Out,Marco Scutaro
3,4,2,Called Strike,S,Pos,No,2013-04-01T20:16:14Z,92.6,83.7,0.10,...,41,0-1,0,1,1,top,2,R,Pop Out,Marco Scutaro
4,5,2,Ball,B,Neg,No,2013-04-01T20:16:46Z,72.7,66.3,-5.21,...,27,0-2,0,2,1,top,2,R,Pop Out,Marco Scutaro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3397,3398,51,Ball,B,Neg,No,2013-09-28T04:00:26Z,93.1,84.5,4.10,...,47,2-Jan,1,2,6,top,3,R,Lineout,Troy Tulowitzki
3398,3399,51,Ball,B,Neg,No,2013-09-28T04:00:49Z,94.0,85.7,4.90,...,52,2-Feb,2,2,6,top,3,R,Lineout,Troy Tulowitzki
3399,3400,51,Called Strike,S,Pos,No,2013-09-28T04:01:15Z,82.7,75.5,-8.07,...,39,2-Feb,2,2,6,top,3,R,Lineout,Troy Tulowitzki
3400,3401,51,Ball In Dirt,B,Neg,No,2013-09-28T04:01:43Z,86.4,79.5,-2.81,...,25,2-Feb,2,2,6,top,3,R,Lineout,Troy Tulowitzki
3401,3402,51,"In play, out(s)",X,Pos,Yes,2013-09-28T04:02:15Z,92.9,84.9,-0.01,...,27,2-Mar,3,2,6,top,3,R,Lineout,Troy Tulowitzki

In [4]:
df.describe()

,Unnamed: 0,BatterNumber,StartSpeed,EndSpeed,HDev,VDev,HPos,VPos,Zone,Nasty,BallCount,StrikeCount,Inning,Outs
count,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000
mean,1701.500000,29.277190,88.170723,81.110494,-0.457128,6.326934,-2.254896,28.750342,9.182246,43.997942,0.860376,1.042034,4.092887,1.735450
std,982.217135,17.592011,6.484404,5.779163,2.749855,8.049808,8.397873,12.354172,4.189393,15.995175,0.961579,0.754286,2.192222,0.957476
min,1.000000,1.000000,69.500000,63.600000,-8.760000,-17.170000,-31.428000,-33.864000,1.000000,8.000000,0.000000,0.000000,1.000000,0.000000
25%,851.250000,14.000000,85.000000,78.500000,-2.270000,1.140000,-8.064000,21.012000,5.000000,32.000000,0.000000,0.000000,2.000000,1.000000
50%,1701.500000,28.000000,91.700000,83.900000,-0.290000,10.320000,-2.760000,28.980000,11.000000,43.000000,1.000000,1.000000,4.000000,2.000000
75%,2551.750000,44.000000,92.800000,85.200000,1.180000,12.590000,3.114000,36.960000,13.000000,55.000000,1.000000,2.000000,6.000000,3.000000
max,3402.000000,74.000000,95.600000,88.100000,11.330000,17.850000,29.880000,67.944000,14.000000,94.000000,3.000000,2.000000,9.000000,3.000000

In [6]:
df.StartSpeed.mean()

88.17072310405652

## Part Two

## Part Three

## Part Four

## Part Five