## Assignment 1: Data Analysis - Kershaw Pitch Data


Group members : 

Maya Elshweikhy - 900204233

Youssef Aboukhatwa - 900211153

Ali Baligh - 


### Kershaw Pitch Data Description 
 
In this python notebook, we will be representing a description of the variables in the data Kershaw by using visuals and graphs to analyze the data. This data is Pitch-by-pitch data for baseball pitcher Clayton Kershaw in the 2013 season. Dataset includes information for 3,402 individual pitches thrown by Los Angeles Dodger baseball pitcher Clayton Kershaw during the 2013 regular season when he won the Cy Young award as the best pitcher in the National League. Many variables are measured using Major League Baseball's PITCHf/x system that uses camera systems in each ballpark to track characteristics of each pitch thrown. It is a data frame with 3402 observations on 24 variables.

### Variables

+ BatterNumber: Number of batters faced so far that game

+ Outcome: One of 14 possible results for a pitch (e.g. Ball, Ball In Dirt, Called Strike, ..., Swinging Strike (Blocked))

+ Class: One of three classifications (B=ball, S=strike, or X=in play)

+ Result: From pitcher's perspective (Neg=ball or hit, Pos=strike or out)

+ Swing: Did the batter swing at the pitch? (No or Yes)

+ Time: Date and time of the pitch (format yyyy-mm-ddThh:mm:ssZ)

+ StartSpeed: Speed leaving the pitcher's hand (in mph)

+ EndSpeed: Speed crossing home plate (in mph)

+ HDev: Horizontal movement (inches)

+ VDev: Vertical movement (inches)

+ HPos: Horizontal position at home plate (inches from center, positive is catcher's right)

+ VPos: Vertical position at home plate (inches above the ground)

+ PitchType: Code for pitch type (CH=changeup, CU=curve, FF=fastball, or SL=slider)

+ Zone: 1-9 in theoretical strike zone (upper left to lower right), 11-14 are out of strike zone

+ Nasty: A measure on a 0-100 scale of difficulty of the pitch to hit (100 is most difficult)

+ Count: Ball strike count (0-0, 0-1, 0-2, 1-1, 1-2, 2-1, 2-2, 3-1, or 3-2)

+ BallCount: Number of balls before the pitch (0, 1, 2, or 3)

+ StrikeCount: Number of strikes before the pitch (0, 1, or 2)

+ Inning: Inning of the game

+ InningSide: Portion of the inning (bottom= pitcher at home or top=pitcher away)

+ Outs: Number of outs when the pitch is thrown

+ BatterHand: Batter's stance (L=left or R=right)

+ ABEvent: Result of the at bat (several possibilities)

+ Batter: Name of the batter faced


### Source
Data scraped from the MLB GameDay website (http://gd2.mlb.com/components/game/mlb/) using pitchRx

## Part One

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('Kershaw.csv')

In [4]:
df

,Unnamed: 0,BatterNumber,Outcome,Class,Result,Swing,Time,StartSpeed,EndSpeed,HDev,...,Nasty,Count,BallCount,StrikeCount,Inning,InningSide,Outs,BatterHand,ABEvent,Batter
0,1,1,Called Strike,S,Pos,No,2013-04-01T20:15:04Z,92.7,84.1,0.98,...,56,0-0,0,0,1,top,1,R,Pop Out,Angel Pagan
1,2,1,"In play, out(s)",X,Pos,Yes,2013-04-01T20:15:20Z,73.1,66.6,-3.52,...,35,0-1,0,1,1,top,1,R,Pop Out,Angel Pagan
2,3,2,Ball,B,Neg,No,2013-04-01T20:16:01Z,92.4,84.3,0.51,...,49,0-0,0,0,1,top,2,R,Pop Out,Marco Scutaro
3,4,2,Called Strike,S,Pos,No,2013-04-01T20:16:14Z,92.6,83.7,0.10,...,41,0-1,0,1,1,top,2,R,Pop Out,Marco Scutaro
4,5,2,Ball,B,Neg,No,2013-04-01T20:16:46Z,72.7,66.3,-5.21,...,27,0-2,0,2,1,top,2,R,Pop Out,Marco Scutaro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3397,3398,51,Ball,B,Neg,No,2013-09-28T04:00:26Z,93.1,84.5,4.10,...,47,2-Jan,1,2,6,top,3,R,Lineout,Troy Tulowitzki
3398,3399,51,Ball,B,Neg,No,2013-09-28T04:00:49Z,94.0,85.7,4.90,...,52,2-Feb,2,2,6,top,3,R,Lineout,Troy Tulowitzki
3399,3400,51,Called Strike,S,Pos,No,2013-09-28T04:01:15Z,82.7,75.5,-8.07,...,39,2-Feb,2,2,6,top,3,R,Lineout,Troy Tulowitzki
3400,3401,51,Ball In Dirt,B,Neg,No,2013-09-28T04:01:43Z,86.4,79.5,-2.81,...,25,2-Feb,2,2,6,top,3,R,Lineout,Troy Tulowitzki
3401,3402,51,"In play, out(s)",X,Pos,Yes,2013-09-28T04:02:15Z,92.9,84.9,-0.01,...,27,2-Mar,3,2,6,top,3,R,Lineout,Troy Tulowitzki

In [5]:
df.describe()

,Unnamed: 0,BatterNumber,StartSpeed,EndSpeed,HDev,VDev,HPos,VPos,Zone,Nasty,BallCount,StrikeCount,Inning,Outs
count,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000,3402.000000
mean,1701.500000,29.277190,88.170723,81.110494,-0.457128,6.326934,-2.254896,28.750342,9.182246,43.997942,0.860376,1.042034,4.092887,1.735450
std,982.217135,17.592011,6.484404,5.779163,2.749855,8.049808,8.397873,12.354172,4.189393,15.995175,0.961579,0.754286,2.192222,0.957476
min,1.000000,1.000000,69.500000,63.600000,-8.760000,-17.170000,-31.428000,-33.864000,1.000000,8.000000,0.000000,0.000000,1.000000,0.000000
25%,851.250000,14.000000,85.000000,78.500000,-2.270000,1.140000,-8.064000,21.012000,5.000000,32.000000,0.000000,0.000000,2.000000,1.000000
50%,1701.500000,28.000000,91.700000,83.900000,-0.290000,10.320000,-2.760000,28.980000,11.000000,43.000000,1.000000,1.000000,4.000000,2.000000
75%,2551.750000,44.000000,92.800000,85.200000,1.180000,12.590000,3.114000,36.960000,13.000000,55.000000,1.000000,2.000000,6.000000,3.000000
max,3402.000000,74.000000,95.600000,88.100000,11.330000,17.850000,29.880000,67.944000,14.000000,94.000000,3.000000,2.000000,9.000000,3.000000

### For continuous variables, provide the mean, median, quartiles, variance, and standard deviation

- #### Variable 1 "StartSpeed"

In [6]:
df.StartSpeed.mean()

88.17072310405652

In [7]:
df.StartSpeed.median()

91.7

In [8]:
df.StartSpeed.quantile(.5)

91.7

In [9]:
df.StartSpeed.quantile(.25)

85.0

In [10]:
df.StartSpeed.quantile(.75)

92.8

In [11]:
df.StartSpeed.quantile([0,.25,.5,.75,1])

0.00    69.5
0.25    85.0
0.50    91.7
0.75    92.8
1.00    95.6
Name: StartSpeed, dtype: float64

In [12]:
df.StartSpeed.std()

6.484404288530577

In [13]:
df.StartSpeed.var()

42.04749897711373

- #### Variable 2 "EndSpeed"

In [14]:
df.EndSpeed.mean()

81.11049382716041

In [15]:
df.EndSpeed.median()

83.9

In [16]:
df.EndSpeed.quantile([0,.25,.5,.75,1])

0.00    63.6
0.25    78.5
0.50    83.9
0.75    85.2
1.00    88.1
Name: EndSpeed, dtype: float64

In [17]:
df.EndSpeed.std()

5.779163297926592

In [18]:
df.EndSpeed.var()

33.39872842410177

- #### Variable 3 "HDev"

In [19]:
df.HDev.mean()

-0.4571281599059383

In [20]:
df.HDev.median()

-0.29

In [21]:
df.HDev.quantile([0,.25,.5,.75,1])

0.00    -8.76
0.25    -2.27
0.50    -0.29
0.75     1.18
1.00    11.33
Name: HDev, dtype: float64

In [22]:
df.HDev.std()

2.749854559898511

In [23]:
df.HDev.var()

7.561700100594634

- #### Variable 4 "VDev"

In [24]:
df.VDev.mean()

6.326934156378598

In [25]:
df.VDev.median()

10.32

In [26]:
df.VDev.quantile([0,.25,.5,.75,1])

0.00   -17.17
0.25     1.14
0.50    10.32
0.75    12.59
1.00    17.85
Name: VDev, dtype: float64

In [27]:
df.VDev.std()

8.049808472453151

In [28]:
df.VDev.var()

64.79941644317853

- #### Variable 5 "HPos"

In [29]:
df.HPos.mean()

-2.2548959435626155

In [30]:
df.HPos.median()

-2.76

In [31]:
df.HPos.quantile([0,.25,.5,.75,1])

0.00   -31.428
0.25    -8.064
0.50    -2.760
0.75     3.114
1.00    29.880
Name: HPos, dtype: float64

In [32]:
df.HPos.std()

8.397873079412046

In [33]:
df.HPos.var()

70.52427225791355

## Part Two

## Part Three

In [5]:
freq2=df['Outcome'].value_counts() 
freq22=pd.DataFrame({'Outcome':freq2.keys(),'Frequency':freq2.values})
freq22['Percent']=freq22['Frequency']/freq22['Frequency'].sum()*100
freq22

                      Outcome  Frequency    Percent
0                        Ball       1058  31.099353
1               Called Strike        605  17.783657
2                        Foul        605  17.783657
3             In play, out(s)        434  12.757202
4             Swinging Strike        335   9.847149
5             In play, no out        139   4.085832
6                Ball In Dirt         72   2.116402
7   Swinging Strike (Blocked)         51   1.499118
8             In play, run(s)         44   1.293357
9                    Foul Tip         35   1.028807
10                  Foul Bunt         13   0.382128
11        Foul (Runner Going)          5   0.146972
12                Missed Bunt          3   0.088183
13               Hit By Pitch          3   0.088183

In [34]:
freq3=df['Class'].value_counts()
freq33=pd.DataFrame({'Class(B=ball, S=strike, or X=in play)':freq3.keys(),'Frequency':freq3.values})
freq33['Percent']=freq33['Frequency']/freq33['Frequency'].sum()*100
freq33

  Class(B=ball, S=strike, or X=in play)  Frequency    Percent
0                                     S       1652  48.559671
1                                     B       1133  33.303939
2                                     X        617  18.136390

In [35]:
freq4=df['Result'].value_counts()
freq44=pd.DataFrame({'Class (Neg=ball or hit, Pos=strike or out)':freq4.keys(),'Frequency':freq4.values})
freq44['Percent']=freq44['Frequency']/freq44['Frequency'].sum()*100
freq44

  Class (Neg=ball or hit, Pos=strike or out)  Frequency    Percent
0                                        Pos       2086  61.316872
1                                        Neg       1316  38.683128

In [48]:
freq5=df['Swing'].value_counts()
freq55=pd.DataFrame({'Swing (No or Yes)':freq5.keys(),'Frequency':freq5.values})
freq55['Percent']=freq55['Frequency']/freq55['Frequency'].sum()*100
freq55

  Swing (No or Yes)  Frequency    Percent
0                No       1735  50.999412
1               Yes       1667  49.000588

In [47]:
freq6=df['PitchType'].value_counts()
freq66=pd.DataFrame({'Pitchtype(CH=changeup, CU=curve, FF=fastball, or SL=slider)':freq6.keys(),'Frequency':freq6.values})
freq66['Percent']=freq66['Frequency']/freq66['Frequency'].sum()*100
freq66

,"Pitchtype(CH=changeup, CU=curve, FF=fastball, or SL=slider)",Frequency,Percent
0,FF,2060,60.552616
1,SL,834,24.514991
2,CU,425,12.492651
3,CH,83,2.439741

In [38]:
freq7=df['BatterHand'].value_counts()
freq77=pd.DataFrame({'Right/Left':freq7.keys(),'Frequency':freq7.values})
freq77['Percent']=freq77['Frequency']/freq77['Frequency'].sum()*100
freq77

  Right/Left  Frequency    Percent
0          R       2694  79.188713
1          L        708  20.811287

## Part Four

In [44]:
pd.crosstab(index=df['Swing'],columns=df['StartSpeed'],margins=True)

StartSpeed,69.5,69.9,70.0,70.1,70.2,70.9,71.1,71.2,71.3,71.5,...,94.7,94.8,94.9,95.0,95.1,95.2,95.4,95.5,95.6,All
Swing,,,,,,,,,,,,,,,,,,,,,
No,1,1,0,1,1,1,2,2,3,1,...,4,1,1,1,1,1,1,1,1,1735
Yes,0,0,1,0,0,0,0,0,0,0,...,3,2,0,2,0,0,0,0,0,1667
All,1,1,1,1,1,1,2,2,3,1,...,7,3,1,3,1,1,1,1,1,3402

This shows that when he does swing the speed is much more consantly higher then when he doesnâ€™t this should mean that he should swing more regularly

In [50]:
pd.crosstab(index=df['Class'],columns=df['StrikeCount'],margins=True)

StrikeCount    0     1     2   All
Class
B            306   492   335  1133
S            430   703   519  1652
X            163   266   188   617
All          899  1461  1042  3402

this shows that there isnt any corellation between the class of the bat ant the strikes he makes

In [52]:
pd.crosstab(index=df['PitchType'],columns=df['Zone'],margins=True)

Zone,1,2,3,4,5,6,7,8,9,11,12,13,14,All
PitchType,,,,,,,,,,,,,,
CH,3,4,4,2,3,3,3,5,6,1,7,19,23,83
CU,8,17,17,13,16,19,16,18,17,22,56,120,86,425
FF,138,116,70,158,130,98,110,87,48,402,217,350,136,2060
SL,29,28,21,48,49,28,56,41,18,104,74,258,80,834
All,178,165,112,221,198,148,185,151,89,529,354,747,325,3402

In [61]:
pd.crosstab(index=df['BatterHand'],columns=df['PitchType'],margins=True)

PitchType   CH   CU    FF   SL   All
BatterHand
L            2   77   466  163   708
R           81  348  1594  671  2694
All         83  425  2060  834  3402

this shows that he uses his right hand much more often which means he is much more confident with his right hand

In [67]:
pd.crosstab(index=df['BatterHand'],columns=df['Outs'],margins=True)

Outs          0     1     2    3   All
BatterHand
L            75   209   258  166   708
R           274   872   835  713  2694
All         349  1081  1093  879  3402

he still has almost the same ratio of outs whether its with his right or left hand.

In [63]:
pd.crosstab(index=df['Batter'],columns=df['Inning'])

Inning                1  2  3  4   5  6  7   8   9
Batter
A.J. Burnett          0  0  3  0   0  3  0   0   0
A.J. Pollock         10  0  5  0  15  0  4   2   0
Adam LaRoche          7  4  0  3   4  3  4   0  10
Adeiny Hechavarria    0  5  0  2   0  0  2   0   0
Alex Gonzalez         0  0  0  0   0  0  0   5   0
...                  .. .. .. ..  .. .. ..  ..  ..
Yorvit Torrealba      0  4  0  0   2  0  5   0   0
Yovani Gallardo       0  0  1  0   6  0  0   0   0
Yunel Escobar         0  5  0  0   3  0  6   0   0
Yuniesky Betancourt   0  2  2  0   9  0  0  10   0
Zachary Cozart        0  6  0  3   5  0  8   0   0

[206 rows x 9 columns]

In [68]:
pd.crosstab(index=df['Batter'],columns=df['Outs'],margins=True)

Outs                   0     1     2    3   All
Batter
A.J. Burnett           0     0     6    0     6
A.J. Pollock           6     7     7   16    36
Adam LaRoche           4     7    21    3    35
Adeiny Hechavarria     0     5     2    2     9
Alex Gonzalez          0     0     5    0     5
...                  ...   ...   ...  ...   ...
Yovani Gallardo        0     1     0    6     7
Yunel Escobar          3     0    11    0    14
Yuniesky Betancourt    2    10    11    0    23
Zachary Cozart         4     0     8   10    22
All                  349  1081  1093  879  3402

[207 rows x 5 columns]

this shows which batter is best for him as it displays who batters with the number of outs he got

## Part Five